.instructions-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Adjust height as needed */
    text-align: center;
    padding: 50px 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: whitesmoke;
}

.coming-soon-quote h1 {
    font-size: 3rem;
    color: #2c3e50; 
    text-transform: uppercase;
    letter-spacing: 2px;
    animation: fadeInUp 1.5s ease-out, pulse 2s infinite;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
